body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("Image/images3.jpg");
    background-size: cover; /* This will cover the entire div */
    background-position: center; /* This will center the image */
    height: 100%; /* Set a height for the div */
    padding: 5pc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #0a0505;
  }
  
  .form-container {
    margin: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #007bff;
    color: white;
  }
  
  thead th {
    padding: 10px;
  }
  
  tbody td {
    padding: 10px;
    text-align: center;
  }
  
  button.delete-btn {
    background-color: #dc3545;
  }
  
  button.delete-btn:hover {
    background-color: #c82333;
  }
  