/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
      
  }
  
  header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    
  }
  
  header h1 {
    margin: 0;
  }
  
  div {
    background-image: url("Image/image1.jpg");
    background-size: cover; /* This will cover the entire div */
    background-position: center; /* This will center the image */
    height: 100%; /* Set a height for the div */
    padding: 5pc;
    
}
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 15px;
    font-size: 20px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
 
 
  h2 {
    color: #007bff;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px ;
    
  }
 #head1{
  font-size: 60px;
  text-align: center;
  color:rgb(7, 7, 7);
  font-family: Harlow Solid Italic;
 }
 #head2{
  font-size:40px;
  margin-top: 10px;
  color:white;
  font-family: Harlow Solid Italic;
 }
 #par{
  
  font-size: 20px;
  text-align: center;
  color:rgb(7, 7, 7);
 }
 .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
